<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rentalgeek.android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <permission
        android:name="com.rentalgeek.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.rentalgeek.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.rentalgeek.android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk tools:overrideLibrary="com.linkedin.android.mobilesdk"/>

    <permission
        android:name="com.rentalgeek.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".RentalGeekApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activity.ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ActivityTutorials"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityFavoriteRentals"
            android:label="Favorites"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ui.activity.ActivityHome"
            android:label="Home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityRegistration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityGeekScore"
            android:label="GeekScore"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityCreateProfile"
            android:theme="@style/GeekFormTheme"
            android:label="Profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityRoommates"
            android:label="Roommates"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityPayments"
            android:label="Payments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityPayment"
            android:label="Payment"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityPaymentConfirmation"
            android:label="Payment"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityRoommateInvite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityNotifications"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ActivityProperties"
            android:label="Properties"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignDecider"
            android:label="@string/cosigner"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".ui.activity.ActivityRental"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.ActivityCosignerList"
            android:screenOrientation="portrait"
            android:label="Cosigner">
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignerInvite"
            android:screenOrientation="portrait"
            android:label="Cosigner">
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignerApp1"
            android:screenOrientation="portrait"
            android:label="Progress (1/4)">
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignerApp2"
            android:screenOrientation="portrait"
            android:label="Progress (2/4)">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignerApp3"
            android:screenOrientation="portrait"
            android:label="Progress (3/4)">
        </activity>
        <activity
            android:name=".ui.activity.ActivityCosignerApp4"
            android:screenOrientation="portrait"
            android:label="Progress (4/4)">
        </activity>
        <activity
            android:name=".ui.activity.ActivitySignLease"
            android:screenOrientation="portrait"
            android:label="Lease">
        </activity>
        <activity
            android:name=".ui.activity.ActivityYourCosigner"
            android:screenOrientation="portrait"
            android:label="@string/your_cosigner">
        </activity>
        <activity
            android:name=".ui.activity.ActivitySettings"
            android:screenOrientation="portrait"
            android:label="@string/settings">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpQ8H48Hx-GH6jpn5x-89PCz1T3gFgOvU"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <meta-data android:name="AA_DB_VERSION" android:value="2" />
        
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46b01a6239e2aa8d4bc6ccdc17a0961adc142556" />
    </application>

</manifest>
